@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />  
@await Component.InvokeAsync("Courses");
@*<a href="/zarinpal1/Peyment1" class="btn btn-success">پرداخت</a>*@
