@model List<BE.course>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    </head>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 d-flex justify-content-between">
                <h6 class="title pb-2 animate__animated animate__rotateIn animate__delay-0.3s">جدیدترین دوره های آموزشی</h6>
            </div>
        </div>
    </div>

<div class="container my-3">
    <div class="row">
        @foreach (var course in Model)
        {
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card custom-card mb-3 animate__animated animate__fadeInTopLeft animate__delay-1s animate__duration-1s">
                <div class="sub-layer">
                    <img src="~/images/course1/@course.picture" alt="محصول" class="img-fluid card-img-top">
                    <div class="over-layer">
                        <a asp-action="details" asp-controller="course" asp-route-id="@course.id"  class="btn btn-primary"> مشاهده و خرید </a>
                        <span class="badge badge-secondary badge-pill"> 50 <i class="fa fa-shopping-basket pr-1"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <a href="course.html" class="card-link">عنوان:@course.title</a>
                    <p class="text-justify card-text vazir font-14 mt-3">
                        توضیحات:@course.descript
                    </p>
                </div>
                <div class="card-footer">
                    <div class="float-left">
                        <small class="text-success mr-2">قیمت:@course.price</small>
                    </div>
                </div>
            </div>
        </div>
        }
        
    </div>
</div>
